* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to top, #D6CDEA, #F9EBDF);
	transition: background 0.2s linear;
}

.header{
    height: 170px;
    width: 100%;
    background-color: #fbffd5;
    padding: 2%;
    border-radius: 0 0 10px 10px;
}
.header h1{
    font-size: 3.6rem;
    color: #D6CDEA;
	display: inline-block;
    padding-left: 7px;

}
.date{
	display: inline-block;
	padding: 0 1.2%;
	color: #7199c2;
}
.fa-tasks{
    color: #D6CDEA;
}
.label{
    position: absolute;
    left: 95%;
}
.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px;
	position: relative;
	height: 23px;
	width: 48px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 20px;
	width: 20px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f9d751;
}

.fa-sun {
	color: #f2a52a;
}

body.dark {
	/* background: #261a2b; */
    background: linear-gradient(to top, #312437, #573a51);
}

form{
    position: absolute;
    top:27%;
    left:33%;
    background-color: #D6CDEA;
    border-radius: 6px ;
    padding:15px;
    display: flex;
    align-items: center;
}

.task-input{
    width: 550px;
    height: 50px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-right: 0px;
    border-radius: 6px 0 0 6px;
}

.Add-boutton{
    height: 50px;
    width: 50px;
    border: 1px solid #ede1e2;
    border-left: 0px;
    color: #315b84;
    border-radius:0 6px 6px 0;
    cursor: pointer;
    font-size: 1rem;
    background-color: #ede1e2;
}
section {
    background-color: rgba(255, 255, 255, 0.31);
    padding: 1.5rem 0.5rem;
    width: 45%;
    margin: 3rem auto 0;
    height: 41rem;
    border-radius: 5px;
    color: #315b84;
  }
.todo-list-container {
    margin-top: 11%;
    overflow: auto;
    height: 32rem;
  }
  .todo-list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    background-color: #D6CDEA;
    height: 3.2rem;
    padding: 0.6rem;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
  }
  li .AcionsIcon {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 5px;
    width: 25%;
    padding-top: 0.5rem;
  }
.AcionsIcon i{
    padding: 0 5px;
}
.darkHead{
    background-color:#9d8197;
    /* background-color:#807794; */
}
.darkHead h1{
    color:#493551;
} 
.darkicon{
    color:#493551;
}
.darkHead h2{
     color: #f0f4c3;
}
.darkSection{
    background-color:#e5d1e974;
    color: #f0f4c3;
}
.darkTask li{
    background-color: #493551;
}
.darkForm{
    background-color: #493551;
}
.darkBoutton{
    background-color: #9d8197;
    color: #f0f4c3;
    border: 1px solid #9d8197;
}
.darkDate{
    color: #f0f4c3;
}